---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import Title from "@/components/Title.astro";

interface Experience {
  company: string;
  companyUrl?: string;
  role: string;
  startDate: string;
  endDate: string;
  location: string;
  description: string;
}

const experiences: Experience[] = [
  {
    company: "Sylvarum",
    companyUrl: "https://sylvarum.com",
    role: "Head of Data Science",
    startDate: "Jul 2022",
    endDate: "Present",
    location: "Tucumán, Argentina",
    description:
      "As Head Scientist at Sylvarum, I lead our efforts to improve plant metabolism through electrostimulation research, aiming to boost plant growth and productivity in agriculture. Collaborating closely with our team, I analyze data and develop algorithms to optimize electrostimulation treatments for different plants. Recently, we secured our first patent, protecting our innovative algorithms. I also spearhead software projects, including an AI system for measuring crop canopy cover and a data-handling platform for sensors. I'm proud to have invented and patented an AI algorithm that optimizes electrostimulation AI models. My work reflects a passion for innovation and a commitment to advancing agricultural practices.",
  },
  {
    company: "Sylvarum",
    companyUrl: "https://sylvarum.com",
    role: "Head of Data Science",
    startDate: "Jul 2022",
    endDate: "Present",
    location: "Tucumán, Argentina",
    description:
      "As Head Scientist at Sylvarum, I lead our efforts to improve plant metabolism through electrostimulation research, aiming to boost plant growth and productivity in agriculture. Collaborating closely with our team, I analyze data and develop algorithms to optimize electrostimulation treatments for different plants. Recently, we secured our first patent, protecting our innovative algorithms. I also spearhead software projects, including an AI system for measuring crop canopy cover and a data-handling platform for sensors. I'm proud to have invented and patented an AI algorithm that optimizes electrostimulation AI models. My work reflects a passion for innovation and a commitment to advancing agricultural practices.",
  },
  {
    company: "Sylvarum",
    companyUrl: "https://sylvarum.com",
    role: "Head of Data Science",
    startDate: "Jul 2022",
    endDate: "Present",
    location: "Tucumán, Argentina",
    description:
      "As Head Scientist at Sylvarum, I lead our efforts to improve plant metabolism through electrostimulation research, aiming to boost plant growth and productivity in agriculture. Collaborating closely with our team, I analyze data and develop algorithms to optimize electrostimulation treatments for different plants. Recently, we secured our first patent, protecting our innovative algorithms. I also spearhead software projects, including an AI system for measuring crop canopy cover and a data-handling platform for sensors. I'm proud to have invented and patented an AI algorithm that optimizes electrostimulation AI models. My work reflects a passion for innovation and a commitment to advancing agricultural practices.",
  },
];
---

<Layout title="Experience">
  <Title>Experience</Title>
  <div class="flex flex-col gap-5">
    {
      experiences.map((experience) => (
        <div>
          <h2 class="text-2xl">{experience.company}</h2>
          <h3 class="text-muted-foreground italic font-light">
            {experience.role}
          </h3>
          <div class="pl-5 border-l-2 border-l-white my-5 space-y-5">
            <span>
              {experience.startDate} - {experience.endDate}
            </span>
            <p>{experience.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</Layout>
